/* desktop col-lg 992 px+*/

/* desktop e tablet col-md 768px a 991 px*/

/* tablet col-sm 576px a 767 px*/

@media (min-width: 576px) and (max-width: 767px){
    
}

/* tablet col 0 px a 767 px*/

@media (max-width: 767px){
	.no-mobile {
		display: none !important;
	}

	.col-one{
		padding-left: 35px !important;
		padding-right: 35px !important;
	}

	.nav-bar-toggler-icon{
		padding-top: 5px;
	}

	.navbar-collapse {
		background-color: var(--color-secondary);
		padding: 20px;
		text-align: center;
		border-radius: 40px;
	}

	.navbar-collapse .btn-white{
		margin-top: 20px;
	}
	.navbar-collapse .btn-icon{
		padding-right: 20px;
	}

	.navbar-collapse .btn-white span.icon{
		display: none !important;
	}

	.banner {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.text-banner h1 {
		font-size: 36px;
	}

	.text-banner p {
		font-size: 18px;
	}

	.btn-yellow, .btn-white {
		padding: 13px 23px;
		font-size: 18px;
	}

	.btn-icon-left span.icon-left{
		width: 43px;
		height: 43px;
		margin-left: -56px;
	}
	.btn-icon-left {
		padding-left: 63px !important;
	}

	.title {
		font-size: 30px;
	}

	.servicos, .cardapio {
		padding-bottom: 50px;
	}

	.container-menu {
		overflow-x: auto;
		overflow-y: hidden;
		display: flex;
		padding-bottom: 15px;
	}

	.img-produto {
		position: absolute;
		left: 15px;
	}

	.card-item {
		height: 110px;
		padding-left: 110px;
		align-items: start;
		justify-content: center;
	}

	.card-item .img-produto img {
		width: 80px;
	}

	.title-produto {
		margin-top: 0px !important;
		height: 30px !important;
		width: 100%;
		text-align: left !important;
	}

	.price-produto {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		font-size: 22px !important;
	}

	/* essa parte */
	.card-item .add-carrinho {
		margin-top: 5px;
	}

	#itensCardapio .mb-5 {
		margin-bottom: 15px !important;
	}
}